<div class="row">
  <div class="col-xs-6">
    <p 
      [ngStyle]="{backgroundColor: getColor()}"
      [ngClass]="serverStatus === 'online' ? 'online' : 'offline'"
      class="status"
    >
      {{ 'My Server' }} with ID {{ serverID }} is {{ getServerStatus() }}
    </p>
  </div>
  <div class="col-xs-6">
    <!-- <button class="btn btn-primary" (click)="showSecret = !showSecret">
      Display details
    </button> -->
    <button class="btn btn-primary" (click)="onToggleDetails()">
      Display details
    </button>
    <p style="height:20px;"><span *ngIf="showSecret">Secret password</span></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
      <p 
      *ngFor="let log of logs; let i = index"
      [ngStyle]="{backgroundColor: i % 2 == 0 ? 'skyblue' : 'transparent'}"
      class="status" 
      >{{ log }}</p>
  </div>
</div>

<!-- <app-warning-alert></app-warning-alert>
<app-success-alert>
</app-success-alert> -->