<p>{{ 'My Server' }} with ID {{ serverID }} is {{ getServerStatus() }}</p>

<p>
	<label for="event-bind"> Event bind</label>
	<input
		id="event-bind"
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)">
</p>
<p>
	<label for="event-bind-twoway">two way bind</label>
  <input
  	id="event-bind-twoway" 
    type="text"
    class="form-control"
    [(ngModel)]="serverName">
</p>

<p>{{ serverName }}</p>
<button 
	class="btn btn-primary"
	[disabled]="!allowNewServer" 
	(click)="onServerCreate()"
>Add Server</button>
<hr />
<p>{{serverCreationStatus}}</p>
<hr />

<app-warning-alert></app-warning-alert>
<app-success-alert>
</app-success-alert>